@media (max-width: 1900px) {
}

@include mq(desctop) {
}
@include mq(laptop-l) {
}
@include mq(tablet-l) {
  .benefit {
    &__title {
      div,
      p {
      }
      div > h2 {
        width: auto;
      }
      p {
      }
    }
    &__slider-container {
      flex-direction: column-reverse;
      height: auto;
      .stage-outer {
        // width: 0px;
        height: 305px;
      }

      .slider {
        &__items-container {
          .benefit-slider-item {
            img {
              max-width: 492px;
              height: 293px;
            }

            .text {
              margin-top: 32px;
              max-width: 238px;
              h3 {
              }
              p {
              }
            }
          }
          ._active {
          }
        }
      }

      .nav {
        position: relative;
        right: 0;
        top: 5px;

        &__btns {
          display: none;
        }
        &__dots {
          width: auto;
          padding: 12px 16px 12px 44px;
          gap: 17px;
          .pipe {
          }

          button._dot {
            width: 95px;
            p {
              font-size: 16px;
            }

            &._checked {
              min-width: 159px;
              width: 159px;
              p {
                width: 159px;
              }
            }
          }
        }
      }
    }
  }
}
@include mq(tablet) {
}
@include mq(mobile-l) {
  .benefit {
    &__title {
      flex-direction: column;
      padding-top: 112px;
      div,
      p {
      }
      div > h2 {
        width: auto;
      }
      p {
      }
    }
    &__slider-container {
      flex-direction: column-reverse;
      height: auto;
      .stage-outer {
        // width: 0px;
        min-height: 497px;
      }

      .slider {
        &__items-container {
          .benefit-slider-item {
            width: inherit;
            flex-direction: column;
            img {
              max-width: inherit;
              height: 293px;
            }

            .text {
              margin-top: 0px;
              width: 100%;
              max-width: fit-content;
              h3 {
              }
              p {
              }
            }
          }
          ._active {
          }
        }
      }

      .nav {
        position: relative;
        right: 0;
        top: 5px;

        &__btns {
          display: none;
        }
        &__dots {
          display: none;
        }
      }
    }
  }
}
@include mq(mobile-s) {
}
