.benefit {
  position: relative;
  z-index: 2;
  margin-bottom: 180px;

  &__title {
    padding-top: 168px;
    padding-bottom: 68px;
    width: 100%;
    display: flex;
    gap: 24px;

    div,
    p {
      width: 100%;
    }
    div > h2 {
      width: 440px;
    }
    p {
      font-size: 18px;
      
    }
  }
  &__slider-container {
    position: relative;
    width: 100%;
    height: 557px;

    .stage-outer {
    }

    .slider {
      position: relative;
      width: 100%;
      height: 100%;
      &__items-container {
        // .swiper-slide-prev{
        //   .text{
        //     opacity: 0 !important;
        //   }
        // }
        // .swiper-slide-active{
        //   .text{
        //     opacity: 1 !important;
        //   }
        // }

        .benefit-slider-item {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          background-color: #f0f8ff00;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 936px;
          }

          .text {
            transition: all .2s ease-in-out;
            // opacity: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            text-align: left;
            gap: 16px;
            max-width: 390px;
            margin-top: 251px;
            margin-left: 19px;

            h3 {
              color: #000;
              line-height: 28px; /* 28px */
              letter-spacing: -1px;
            }
            p {
              
            }
          }
        }
      }
    }

    .nav__btns {
      position: absolute;
      top: 156px;
      left: 938px;
      display: flex;
      width: 142px;
      height: 71px;
      padding: 0;
      background-color: #737b7d;
      &-button {
        position: relative;
        margin: 0;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 71px;
        height: 71px;
        background-color: #06255b;

        &::after {
          color: #fff;
          font-size: 20px;
        }

        &:last-child {
          background-color: #da5d24;
        }
      }
    }
    .nav__dots {
      box-sizing: border-box;
      position: absolute;
      z-index: 100;
      max-height: 156px;
      top: 0;
      right: 0;
      left: unset;
      background-color: #fff;
      background: #fff;

      box-shadow: 0px 20px 50px 0px rgba(6, 37, 91, 0.06);
      max-width: 1007px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
      padding: 17px 34px 11px 60px;

      .benefit_slider-dot {
        box-sizing: border-box;
        background-color: #a8acad;
        cursor: pointer;
        position: relative;
        border-radius: 0%;
        transition: all 0.5s ease-out;
        background-color: inherit;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;
        height: 122px;
        min-width: 157px;
        padding: 0 24px 0 0;

        &:not(:last-child)::after {
          height: 100%;
          position: absolute;
          content: "";
          border: 1px dotted gray;
          align-self: stretch;
          right: 0;
          bottom: 0;
        }

        p {
          display: flex;
          color: #a8acad;
          font-size: 20px;
          line-height: 85%;
          text-align: left;
        }

        &-active {
          box-sizing: border-box;
          padding: 0 24px 0 0;
          transition: all 0.5s ease-in;
          min-width: 227px;
          width: 227px;

          p {
            color: black;
          }
        }
      }
    }
  }
}
