@media (max-width: 1900px) {
}

@include mq(desctop) {
}
@include mq(laptop-l) {
}
@include mq(tablet-l) {
  .clients {
    &__bg-gray {
    }
    h2 {
    }


    .clients-say {
      gap: 16px;
      &__title {
        max-width: 238px;
        p {
        }
      }
      &__slider {
        &__items-container {
          margin-right: 68px;
          height: 440px;
          .item {
            padding-top: 93px;
            padding-left: 54px;
            img {
              height: 46px;
              width: auto;
            }

            p.text {
              font-size: 15px;
              max-width: 430px;
              margin-top: 29px;
              margin-bottom: 30px;
            }

            span.name {
              font-size: 15px;
            }
            span.position {
              font-size: 12px;
            }
          }
          ._active {
          }
        }
        .nav {
          &__dots {
            button._dot {
              &._checked {
              }
            }
          }
        }
      }
    }

    &__support {
      &-title {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 17px;
        &-aside {
          span {
            font-size: 16px;
          }
          h2 {
            font-size: 30px;
          }
          &-arrow {
          }
        }

        &-text {
          width: 100%;

          p {
            column-count: 1;
            font-size: 13px;
          }
        }
      }
      &-text {
        // gap: 18px;

        &-full {
          // gap: 18px;
        grid-column-gap: 18px;

          div {
            gap: 24px;

            h3 {
              font-size: 26px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@include mq(tablet) {
}
@include mq(mobile-l) {
  .clients {
    &__bg-gray {
    }
    h2 {
    }
    .key-player {
      height: 270px;
      &::before,
      &::after {
        
        width: 10px;
        
      }
     
     
      &__items {
        // width: 85px;
        
        
  
        &-item {
          
  
          img{
            width: 85px;
            height: auto;
          }
  
          &:after {
           
          }
          &::before {
            content: "";
            position: absolute;
            // rotate: 0deg;
            height: 2px;
            top: -3px;
            // right: -61px;
            width: 128px;
            border-bottom: 2px dashed rgb(212, 212, 212);
          }
        }
        // &.transition {
        //   transition: 0.7s;
        // }
      }
  
      &__nav {
  
        button {
    
        }
      }
    }

    .clients-say {
      gap: 32px;
      flex-direction: column;
      &__title {
        max-width: 238px;
        p {
        }
      }
      &__slider {
        &__items-container {
          margin-right: 0px;
          height: 440px;
          .item {
            padding: 0;
            // padding-top: 78px;
            // padding-left: 44px;
            img {
              height: 38px;
              width: auto;
              margin-top: 78px;
              margin-left: 44px;
            }

            p.text {
              font-size: 15px;
              max-width: 320px;
              margin-top: 24px;
              margin-bottom: 20px;
              margin-left: 44px;
            }

            span.name {
              font-size: 15px;
              margin-left: 44px;
            }
            span.position {
              font-size: 12px;
              margin-left: 44px;
            }
          }
          ._active {
          }
        }
        .nav {
          &__dots {
            button._dot {
              &._checked {
              }
            }
          }
        }
      }
    }

    &__support {
      margin-top: 50px;
      &-title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        grid-column-gap: 17px;
        &-aside {
          span {
            font-size: 16px;
          }
          h2 {
            font-size: 30px;
          }
          &-arrow {
          }
        }

        &-text {
          width: 100%;
          max-width: 310px;
          p {
            column-count: 1;
            font-size: 13px;
          }
        }
      }
      &-text {
        align-items: flex-start;

        &-full {
        gap: 40px;
        grid-template-columns: 1fr ;

          div {
            gap: 24px;
            max-width: 310px;

            h3 {
              font-size: 26px;
              max-width: 100%;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@include mq(mobile-s) {
}
