@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "bebasneuebold";
  src: url("../assets/fonts/bebasneuebold.woff2");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../assets/fonts/OpenSans-ExtraBold.ttf");
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .header__toolbar .lang, div.cta a {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "OpenSans-Regular";
  color: #000000;
  font-size: 1rem;
}

/* width */
/* Track */
/* Handle */
/* Handle on hover */
h1 {
  color: #000;
  font-family: "Source Sans Pro";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: -1.465px;
}

h2 {
  color: var(--White, #000);
  font-family: Source Sans Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

h3 {
  color: #313131;
  font-family: "Source Sans Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

p {
  color: #737B7D;
  font-family: Source Sans Pro;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

.light-text {
  color: #fff;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  overflow: hidden;
}

div.cta a {
  padding: 0 18px;
  height: 56px;
  background-color: #DA5D24;
  transition: all 0.7s ease-in-out;
}
div.cta a span {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 120% */
  letter-spacing: 0.3px;
}
div.cta a:hover {
  background-color: #ba4e1d;
}
div.cta-light a {
  background-color: #fff;
}
div.cta-light a span {
  color: #06255b;
}
div.cta-light a:hover {
  background-color: #abb5c7;
}
div.cta-opacity a {
  border: 2px solid #fff;
  background: rgba(6, 37, 91, 0.6);
}
div.cta-opacity a span {
  color: #fff;
}
div.cta-opacity a:hover {
  background-color: #fff;
}
div.cta-opacity a:hover span {
  color: #06255B;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.container {
  width: 100%;
  padding-right: var(--getter-x, 0.75rem);
  padding-left: var(--getter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    width: auto;
    max-width: none;
  }
}
@media (min-width: 425px) {
  .container {
    max-width: 420px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}
header {
  top: 0;
  left: 0;
  z-index: 10;
}
header .header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}
header .header__nav ul {
  display: flex;
  gap: 32px;
}
header .header__nav ul li a {
  color: #fff;
}
header .header__toolbar {
  display: flex;
  gap: 15px;
}
header .header__toolbar .lang {
  background-color: #fff;
  width: 170px;
  height: 56px;
}

@media (max-width: 1200px) {
  header .header__nav {
    display: none;
  }
}
@media (max-width: 992px) {
  header .header__nav {
    display: none;
  }
}
.top-section {
  padding-top: 280px;
  top: 0px;
  height: 744px;
  background: linear-gradient(180deg, #06255b 0%, rgba(6, 37, 91, 0) 100%), url(./../assets/images/image/bg-factory.png);
  background-repeat: no-repeat;
}

.top {
  display: flex;
  justify-content: space-between;
}
.top__aside {
  display: flex;
  flex-direction: column;
  min-width: 723px;
  gap: 24px;
}
.top__aside p {
  max-width: 530px;
}
.top__aside-cta {
  display: flex;
  gap: 16px;
}
.top__cubes {
  transform: rotate(45deg);
  position: relative;
  z-index: 7;
  user-select: none;
  bottom: 80px;
  left: 40%;
  height: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 70px;
  align-items: end;
}
.top__cubes .cube {
  background: rgba(6, 37, 91, 0.8);
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 4px solid rgba(255, 111, 0, 0.8);
}
.top__cubes .cube span {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 18.7px;
  transform: rotate(-45deg);
}
.top__cubes .cube.first {
  border: 8px solid #fff;
  opacity: 0.9;
  width: 151.219px;
  height: 151.219px;
}
.top__cubes .cube.first::before {
  content: "";
  display: block;
  width: 159px;
  height: 159px;
  position: absolute;
  z-index: 9;
  left: -20px;
  top: -20px;
  border: 1px solid #fff;
  opacity: 0.45;
}
.top__cubes .cube.thecond {
  opacity: 0.8;
  background: #da5d24;
  width: 618.974px;
  height: 618.974px;
  margin-left: 70px;
}
.top__cubes .cube.thecond::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
  left: -22px;
  top: -22px;
  border: 1px solid #ff7c40;
  opacity: 0.8;
  width: 630px;
  height: 630px;
}
.top__cubes .cube.thecond::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
  left: 18px;
  top: 14px;
  border: 1px solid #fff;
  opacity: 0.8;
  width: 630px;
  height: 630px;
}
.top__cubes .cube.third {
  border: 9px solid #06255b;
  width: 124.636px;
  height: 124.636px;
  align-self: start;
  margin-top: 40px;
}
.top__cubes .cube.third::before {
  content: "";
  display: block;
  width: 136px;
  height: 136px;
  position: absolute;
  z-index: 9;
  left: -22px;
  top: 11px;
  border: 1px solid #ff7c40;
  opacity: 0.9;
}
.top__cubes .cube.fourth {
  border: 10px solid #da5d24;
  width: 177.484px;
  height: 177.484px;
  align-self: start;
}
.top__cubes .cube.fourth::before {
  content: "";
  display: block;
  width: 187px;
  height: 187px;
  position: absolute;
  z-index: 9;
  left: 20px;
  top: 20px;
  border: 1px solid #fff;
}

@media (min-width: 1728px) {
  .top-section {
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  .top__aside {
    min-width: 500px;
  }
  .top__aside p {
    max-width: 400px;
  }
  .top__cubes {
    left: 20px;
    gap: 30px;
  }
  .top__cubes .cube.thecond {
    margin-bottom: 40px;
  }
}
.services {
  background-color: #06255B;
  height: 1026px;
  padding-top: 104px;
  position: relative;
}
.services__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 384px;
}
.services__bg-w {
  display: block;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  bottom: -1px;
  width: 100%;
  height: 1800px;
  transform: skewX(-45deg) translateX(900px);
}
.services__items-container {
  position: relative;
  z-index: 6;
  height: auto;
  width: fit-content;
  bottom: 965px;
  left: 662px;
  transform: rotate(45deg);
}
.services__items-container .formula {
  margin-left: 292px;
  margin-bottom: 50px;
  display: block;
  width: 714.896px;
  height: 714.896px;
  background: #f7f9fc;
}
.services__items-container .items {
  position: relative;
  z-index: 10;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 28px;
}
.services__items-container .items .item {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 264.013px;
  height: 264.013px;
  border: 1px solid #d5d5d5;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}
.services__items-container .items .item a {
  transform: rotate(-45deg);
  color: #313131;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.296px;
}
.services__items-container .items .item a span::after {
  content: "+";
  font-size: 35px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  position: absolute;
  margin: auto;
  top: 25px;
  left: calc(50% - 10px);
  color: #da5d24;
}
.services__items-container .items .item:hover {
  background-color: rgba(170, 170, 170, 0.708);
}
.services__items-container .items .item:nth-child(0n+1) {
  grid-area: 1/2/2/3;
}
.services__items-container .items .item:nth-child(0n+2) {
  grid-area: 2/2/3/3;
}
.services__items-container .items .item:nth-child(0n+3) {
  grid-area: 2/3/3/4;
}
.services__items-container .items .item:nth-child(0n+4) {
  grid-area: 3/2/4/3;
}
.services__items-container .items .item:nth-child(0n+5) {
  grid-area: 4/2/5/3;
}
.services__items-container .items .item:nth-child(0n+6) {
  grid-area: 4/1/5/2;
}
.services__bg-factory {
  position: absolute;
  z-index: 5;
  background: url(./../assets/images/image/factory.png) no-repeat;
  width: 714.803px;
  height: 487.604px;
  background-size: contain;
  bottom: -80px;
  left: 44%;
}
.services__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  bottom: -110px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}
.services__scroll p {
  width: 220px;
  text-align: center;
  color: #53565a;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  letter-spacing: 0.257px;
}
.services__scroll a {
  width: 23px;
  height: 23px;
  background-image: url(./../assets/images/icons/scroll-down-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}
.services__math {
  width: 125px;
  height: 37px;
  position: absolute;
  z-index: 999;
  bottom: -20px;
  left: 200px;
  background-image: url(./../assets/images/image/math-example-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.expirience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 280px;
  position: relative;
}
.expirience__bg-gray {
  position: absolute;
  background-color: #F7F9FC;
  z-index: 1;
  display: block;
  width: 100%;
  height: 1440px;
  transform: skewY(45deg) translateY(606px);
}
.expirience__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 72px;
  max-width: 536px;
}
.expirience__title h2,
.expirience__title p {
  text-align: center;
}
.expirience__cards {
  z-index: 2;
  display: flex;
  height: 488px;
  width: 100%;
  background: url(./../assets/images/image/expirience-bg.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  justify-content: center;
  background-size: contain;
}
.expirience__cards .card {
  box-sizing: border-box;
  padding: 55px 42px;
  border: 1px solid #e2e2e2;
  height: inherit;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.expirience__cards .card span,
.expirience__cards .card p {
  position: relative;
  font-family: "Mulish";
  z-index: 6;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 17px */
  letter-spacing: 0.3px;
}
.expirience__cards .card span {
  color: var(--Corporate-Orange, #da5d24);
}
.expirience__cards .card p {
  transition: color 0.5s ease-in-out;
  margin-top: 195px;
  color: var(--Headline-2, #2f3034);
}
.expirience__cards .card::before {
  transition: all 0.5s ease-in-out;
  z-index: 5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-image: url(./../assets/images/image/constructor.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
  opacity: 0;
  filter: drop-shadow(0px 15px 90px rgba(19, 47, 79, 0.25));
}
.expirience__cards .card:hover::before {
  opacity: 1;
}
.expirience__cards .card:hover p {
  color: white;
  filter: drop-shadow(0px 15px 90px rgba(19, 47, 79, 0.25));
}

.benefit {
  position: relative;
  z-index: 2;
  margin-bottom: 180px;
}
.benefit__title {
  padding-top: 168px;
  padding-bottom: 68px;
  width: 100%;
  display: flex;
  gap: 24px;
}
.benefit__title div,
.benefit__title p {
  width: 100%;
}
.benefit__title div > h2 {
  width: 440px;
}
.benefit__title p {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.3px;
}
.benefit__slider-container {
  position: relative;
  width: 100%;
  height: 557px;
  display: flex;
}
.benefit__slider-container .stage-outer {
  width: inherit;
  height: inherit;
}
.benefit__slider-container .slider {
  width: inherit;
  height: inherit;
}
.benefit__slider-container .slider__items-container {
  display: flex;
  position: relative;
  width: inherit;
  height: inherit;
  flex-direction: row;
  gap: 100px;
}
.benefit__slider-container .slider__items-container .benefit-slider-item {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  height: 100%;
  cursor: pointer;
}
.benefit__slider-container .slider__items-container .benefit-slider-item img {
  background-clip: border-box;
  width: 936px;
  height: 557px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}
.benefit__slider-container .slider__items-container .benefit-slider-item .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 390px;
  height: 100%;
  margin-top: 550px;
}
.benefit__slider-container .slider__items-container .benefit-slider-item .text h3 {
  color: #000;
  line-height: 28px; /* 28px */
  letter-spacing: -1px;
}
.benefit__slider-container .slider__items-container .benefit-slider-item .text p {
  color: var(--light-gray-dark, #737b7d);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.3px;
}
.benefit__slider-container .slider__items-container ._active {
  visibility: visible;
  opacity: 1;
}
.benefit__slider-container .nav {
  position: absolute;
  right: -52px;
}
.benefit__slider-container .nav__btns {
  display: flex;
  justify-content: center;
  margin-left: 163px;
}
.benefit__slider-container .nav__btns button {
  cursor: pointer;
  height: 71px;
  width: 71px;
  color: white;
  font-weight: 900;
  border: none;
}
.benefit__slider-container .nav__btns button:first-child {
  background-color: #06255b;
}
.benefit__slider-container .nav__btns button:last-child {
  background-color: #da5d24;
}
.benefit__slider-container .nav__btns button:hover {
  opacity: 0.7;
}
.benefit__slider-container .nav__dots {
  background-color: white;
  box-shadow: 0px 20px 50px 0px rgba(6, 37, 91, 0.06);
  width: 1007px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 17px 60px;
  justify-content: space-between;
}
.benefit__slider-container .nav__dots .pipe {
  width: 1px;
  height: 120px;
  border-left: 1px dashed gray;
}
.benefit__slider-container .nav__dots button._dot {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0%;
  transition: all 0.5s ease-out;
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  height: 122px;
  width: 133px;
}
.benefit__slider-container .nav__dots button._dot p {
  color: #a8acad;
  font-size: 20px;
  line-height: 85%;
  text-align: left;
}
.benefit__slider-container .nav__dots button._dot._checked {
  transition: all 0.5s ease-in;
  min-width: 203px;
  width: 203px;
}
.benefit__slider-container .nav__dots button._dot._checked p {
  color: black;
}

.clients {
  position: relative;
  z-index: 2;
}
.clients .key-player__items {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
